.footer {
  background-color: #e9ded4;
}
.footer__copiright {
  padding: 40px 0 72px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #313131;
  opacity: 0.6;
}
