.header {
  position: absolute;
  top: 26px;
  z-index: 2;
  left: 0;
  right: 0;
}
.header__logo {
  width: 245px;
  height: 36px;
}

@media (max-width: 675px) {
  .header {
    top: 18px;
  }
  .header__logo {
    width: 213px;
    height: 32px;
  }
}
