.hero {
  position: relative;
  padding: 124px;
  background-image: url(../img/fon.png);
  height: 700px;
}
.content {
  width: 542px;
}
.content__headline {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 60px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.content__headline_center {
  text-align: center;
}
.content__headline_right {
  text-align: right;
}

.content__info {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 40px;
}
.content__btns {
  display: flex;
  gap: 16px;
  margin-bottom: 130px;
}

.btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;

  border-radius: 66px;
  border: 2px solid transparent;

  padding: 20px 49px;
  width: 263px;
}
.btn_dark {
  text-align: center;
  color: #fff;

  background: #1f1f1f;
}
.btn_dark:hover {
  color: #1f1f1f;
  background: #fbce51;
}
.btn_light {
  text-align: center;
  color: #1f1f1f;

  border-color: #1f1f1f;
  background: transparent;
}
.btn_light:hover {
  background: #1f1f1f;
  color: #fff;
}

.content::after {
  content: url(../img/peshka.svg);
  position: absolute;
  transform: translate(-100%, 0%);
  right: 53px;
  bottom: 20px;
  width: 82px;
  height: 122px;
}

@media (min-width: 1440px) {
  .hero {
    background-image: url(../img/fon1920.png);
  }
}
@media (max-width: 675px) {
  .hero {
    background-image: url(../img/fon375.png);
  }
}
