.info__block {
  display: flex;
  gap: 64px;
  align-items: center;
  padding-top: 80px;
  margin-bottom: 64px;
}
.text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 1.35;
  text-transform: uppercase;
}
.text-red {
  font-weight: 700;
  color: #f54932;
}

.info__box {
  display: flex;
  gap: 44px;
}
.box-img {
  scale: 1.12;
}
.info__table {
  display: grid;
  grid-template-columns: 303px auto;
  width: 100%;
  padding-top: 60px;
  margin-bottom: 48px;
  font-family: var(--font-family);
}
.table-head {
  font-weight: 400;
  opacity: 0.7;
  padding: 16px 16px 16px 0;
  text-align: left;
  border-right: 2px solid #d0d0d0;
  border-bottom: 2px solid #d0d0d0;
}
.table-head:nth-last-child(2) {
  border-bottom: none;
}
.table-data {
  font-weight: 600;
  border-bottom: 2px solid #d0d0d0;
  padding: 16px;
}
.table-data_duble {
  display: flex;
  gap: 12px;
  position: relative;
  border-bottom: none;
}
.line {
  position: absolute;
  left: 12px;
  top: 28px;
}

.text-blye {
  font-family: var(--font-family);
  font-weight: 400;
  color: #3057a2;
}

@media (max-width: 675px) {
  .info__block {
    padding-top: 48px;
    position: relative;
    margin-bottom: 34px;
  }
  .text {
    font-size: 28px;
  }
  .text-down {
    display: block;
    padding-top: 261px;
  }
  .block-img {
    position: absolute;
    top: 224px;
  }
  .info__box {
    flex-direction: column;
    gap: 24px;
  }
  .box-img {
    margin-bottom: 20px;
  }
  .info__table {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 28px;
    margin-bottom: 24px;
  }
  .table-head {
    border: none;
    padding: 16px 0 0;
  }
  .table-data {
    padding: 12px 0 16px;
  }
  .table-data_up {
    position: relative;
    padding-top: 0;
  }
  .table-data-up {
    position: absolute;
    top: -24px;
    left: 154px;
  }
  .line {
    left: 0px;
    top: 24px;
  }
  .text-blye {
    font-size: 18px;
  }
}
